body{
    margin:0px;
    font-family: 'Lato', sans-serif;
    background-color: #f6f6f6;
}

.btn-fb{
    background-color: #4267b2;
    color:#fff;
}

.btn-fb:hover{
    background-color:#4276b2; 
}

.btn-all{
    color:#fff;
    background-color: #443d3d;
}

.btn-all:hover{
    background-color: #605959;
    color:#fff;
}

header{
    background-color: #181818;
    text-align: center;
}

header .logo {
    max-width: 200px;
    margin-right:25px;
}

header .navbar .navbar-nav .nav-item .nav-link{
    color: #fff;
    font-weight: bolder;
    font-size: 14.5px;
}

header .navbar .navbar-nav .nav-item .nav-link:hover{
    color: #9c9494;
}

.group-modal .form-control {
    padding-left: 2.375rem;
}

.group-modal .form-control-modal {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}



/*DETAIL ITEM*/
.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: 100%;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}



footer{
    margin-top: 40px;
    margin-bottom: 0px;
    background-color:#181818;
    color: #fff;
}

footer a{
    color: #fff;
}

footer a:hover{
    color: #726b6b;
    color: #9c9494;
    text-decoration: none;
}

footer{

}


.content_breadcrumb{
	margin-top: -25px;
	background: url('http://localhost/GoToSecret/resources/images/breadcrumb.jpg') center no-repeat;
	background-size:cover;
	height:100px;
    border-bottom: 1px solid white;
}

.contener-center-center h2{
	color:white;
    font-weight: 400;
    text-shadow: 2px 2px 2px #000;
    letter-spacing: 2px;
}
.contener-slider{
	width:100%;
}


.main_view .title{
    background-color:#9c9494;
}

.main_view .title h4{
  color:#fff;
  display:inline-block;
  padding-top: 5px;
  margin-left:10px;
}

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.card{
    -webkit-box-shadow: 6px 6px 5px 0px rgba(219,219,219,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(219,219,219,1);
    box-shadow: 6px 6px 5px 0px rgba(219,219,219,1);
    
}
.card-img-top {
  height: 224px !important; /*esta es la parte importante para que todas tus card-img tengan la misma medida sin importar el tamaño de la imagen*/
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.group-search .form-control {
    padding-left: 2.375rem;
}

.group-search .form-control-search {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.main_view .card{
    opacity: 1;
    transition: 1s;
}

.artist-card{
    opacity: 1;
    transition: 1s;
}

.event-card {
    opacity: 1;
    transition: 1s;
}

.fade-card {
    opacity: 0;
}

.collapse-row.collapsed + tr {
    display: none;
}

/*/ LOGIN ADMIN */
.login_admin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.login_admin input[type="email"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login_admin .form-control{
    position:relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}


.login_admin{
    animation: fadeIn 1s ease;
}

.login_admin {
	animation-delay: 0s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.hrefAdmin:hover{
    text-decoration: none;
}

.form-button-cart{
    right:0;
}




/*/ADMIN */
.navbar-nav.navbar-top-links .nav-link{
    color: #fff;
    padding: 15px;
}

.navbar-nav.navbar-top-links .nav-link:hover{
    color: #9c9494;
}

.section-cart {
    margin-top: 30px;
}

@media screen and (min-width: 480px){
    .section-cart {
        min-height: 458px;
    }
    
    .main_view .card{
        min-height:415.5px;
    }

}

@media screen and (max-width: 991px){

    .form-button-cart{
        left: 0;
        right:auto;
    } 
}

    
@media screen and (max-width: 486px){

    .events .card {
        width: 20rem;
    }
    .artists .card{
        width: 20rem;
    }
    .main_view .card{
        width: 20rem;
    }
    .main_view .card{
        min-height:478.5px;
    }
    
}

@media screen and (min-width: 1199px){

    .events .card {
        width: 38rem;
    }
    .artists .card{
        width: 38rem;
    }



}




